h2 {
    font-size: 2rem;
}

.user--buttons {
    display: flex;
    flex-direction: row;
}

.user--button {
    min-width: 40%;
    margin: 0.5rem auto;
    min-height: 3rem;
    border-radius: 0.25rem;
    font-size: 1.25rem;
}

.print--button {
    background-color: lightskyblue;
    font-weight: bold;
}

.clear--button {
    background-color: lightgray;
    font-weight: bold;
}

@media screen and (max-width: 730px) {
    .user--buttons {
        flex-direction: column;
    }

    .user--button {
        width: 100%;
    }
}