
.App {
  
  margin: 0 auto;
  color: rgb(76, 76, 171);
  min-height: 100vh;
  text-align: center;
  width: 100%;
  
}


.App-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem; 
  margin: 0 2rem;
}


@media screen and (max-width: 450px) {
  .App-body {
    grid-template-columns: 1fr;
  }
}


