
.App {
  background-color: #1b3d80;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
  text-align: center;
  
}


.App-body {
  display: flex;
  justify-content: space-evenly;  
}

.container {
  margin: 20px;
}

h1 {
  margin: 0;
}


